@import url(https://fonts.googleapis.com/css?family=PT+Sans);
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background: #1a1a1a;
  width: 100%;
  height: 100%;
  font-family: "PT Sans", sans-serif;
}

.skills-bar-container {
  /* position: relative;
  width: 40%;
  min-width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none; */
  width: 60%;
  min-width: 300px;
  
}
.skills-bar-container li {
  position: relative;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.skills-bar-container li .progressbar-title {
  color: #fff;
}
.skills-bar-container li .progressbar-title h3 {
  display: inline-block;
}
.skills-bar-container li .progressbar-title .percent {
  position: absolute;
  right: 5px;
}
.skills-bar-container li .bar-container {
  background: #555;
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.skills-bar-container li .bar-container .progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.skills-bar-container li .bar-container #progress-Teamwork {
  -webkit-animation-name: progress-Teamwork;
  animation-name: progress-Teamwork;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.skills-bar-container li .bar-container #progress-Leadership {
  -webkit-animation-name: progress-Leadership;
  animation-name: progress-Leadership;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.skills-bar-container li .bar-container #progress-Empathy {
  -webkit-animation-name: progress-Empathy;
  animation-name: progress-Empathy;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.skills-bar-container li .bar-container #progress-Problem-Solving {
  -webkit-animation-name: progress-Problem-Solving;
  animation-name: progress-Problem-Solving;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}
.skills-bar-container li .bar-container #progress-Critical-Thinking {
  -webkit-animation-name: progress-Critical-Thinking;
  animation-name: progress-Critical-Thinking;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.skills-bar-container li .bar-container #progress-Time-Management {
  -webkit-animation-name: progress-Time-Management;
  animation-name: progress-Time-Management;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.skills-bar-container li .bar-container #progress-Adaptability {
  -webkit-animation-name: progress-Adaptability;
  animation-name: progress-Adaptability;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.progressred {
  background-color: #c0392b;
}

.progressblue {
  background-color: #1199ff;
}

.progresspurple {
  background-color: #9b59b6;
}

.progressorange {
  background-color: #ffa500;
}

.progressgreen {
  background-color: #27ae60;
}

@-webkit-keyframes progress-Teamwork {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes progress-Leadership {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}
@-webkit-keyframes progress-Empathy {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes progress-Problem-Solving {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes progress-Critical-Thinking {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes progress-Time-Management {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes progress-Adaptability {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
@-moz-keyframes progress-Teamwork {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes progress-Leadership {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}
@-moz-keyframes progress-Empathy {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes progress-Problem-Solving {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes progress-Critical-Thinking {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes progress-Time-Management {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes progress-Adaptability {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes progress-Teamwork {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progress-Leadership {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progress-Empathy {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progress-Problem-Solving {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes progress-Critical-Thinking {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progress-Time-Management {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progress-Adaptability {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}